@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,500&display=swap');

:root {
  --card-w: 420px;
  --img-w: 600px;
  --certificate-w: 600px;
  --certificate-h: 500px;
  --icon-w: 400px;
  --font-size: 2rem;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #1e1f26;
  color: white;
}

h3, p {
  font-family: 'Chakra Petch';
}
section {
  font-family: 'Chakra Petch';
  font-style: italic;
}


/* Project component styling */

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: black; */
}

.project-container {
  /* opacity: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; 
  /* width: 100%; */
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
  transition: transform .3s linear;
}
.project-container:nth-child(odd) {
  flex-flow: row-reverse;
}

.project-container:hover {
  box-shadow: 10px 10px 25px #4d648d;
  animation: odsoky 1s ease-in-out infinite  alternate;
  /* transform: scale(1.05); */
  background-color: #283655;
}

.project-container:hover .static {
  opacity: 0;
}

@keyframes odsoky {
  0%{
    transform: translateY(6px);
  }

  100%{
    transform: translateY(1px);
  }

}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: var(--card-w);
  height: auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.project-card {
  position: absolute;
  width: var(--card-w);
  height: auto;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 3%; */
  /* border-radius: 15px; */
  /* padding-top: 1%;
  padding-bottom: 1%; */
}

.card__face--front {
  /* background: red; */
  /* box-shadow: 5px 5px 25px rgb(135, 135, 135, 0.5); */
  flex-direction: column;
}
.card-front-style {
  border-radius: 15px;
  border-style: solid;
  padding: 3%;
}
.card__face--front > section {
  margin-top: 0px;
  margin-bottom: 25px;
}
.card__face--front > h3 {
  margin-bottom: 10px;
}

.card__face--back {
  background-color:#4d648d;
  transform: rotateY(180deg);
  flex-direction: column;
  border-radius: 15px;
  padding: 5%;
  /* padding-top: 1%;
  padding-bottom: 1%; */
}
#info-element {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#git-icon {
  font-size: calc(var(--font-size) + 0.5rem);
  padding-bottom: 0.5rem;
}




/* arrow  */

#arrowAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3px;
  animation: slidedown 1s ease-in-out infinite;
  position: absolute;
  top: -20px;
  /* backface-visibility: hidden; */
}

.arrow {
  /* position: absolute; */
  /* backface-visibility: hidden; */
  width: 10px;
  height: 10px;
  border: 2.5px solid;
  /* opacity: 0.5; */
  transform: rotate(-135deg);
  border-color: white transparent transparent white;
  /* backface-visibility: hidden; */
  z-index: -1;
}

@keyframes slidedown {
  0% {
    transform:translateY(-2px); 
  }	
  25% {
    transform:translateY(-12px); 
  }	
  50% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(-12px);
  }
  100% {
    transform:translateY(-2px); 
    backface-visibility: hidden;
  }	
}


/* img styling */

.img-card {
  margin: 2%;
  width: var(--img-w);
  height: auto;
}

.active {
  width: var(--img-w);
  height: auto;
}

.static {
  width: var(--img-w);
  height: auto;
  position:absolute;
}


/* academics */
.certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificate-card {
  margin: 2%;
  display: flex;
  width: var(--certificate-w);
  height: 450px;
  /* position: absolute; */
  align-items: center;
}
.certificate-img > img {
  /* border: 5px solid black; */
  width: var(--certificate-w);
  height: auto;
}
.certificate-card:hover > .certificate-img {
  transform: translateX(-300px);
}
.certificate-card:hover > .certificate-info {
  transform: translateX(400px);
}

.certificate-img, .certificate-info {
  /* width: 600px;
  height: auto; */
  position: absolute;
  transition: transform 1s ease;
}
.certificate-info {
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
  border-style: solid; 
  z-index: -1;
}

/* contact */

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-card {
  margin: 1%;
  display: flex;
  align-items: center;
  width: var(--icon-w);
}
.icon-card > p {
  margin-left: 50px;
}
#icon {
  /* padding: 10%; */
  color: white;
  font-size: calc(var(--font-size) + 3rem);
}
.contact-link > a, a:visited, a:visited {
  color: white;
  text-decoration: none;
}


/* header and navigation styling */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1%;
}

header {
  flex-grow: 4;
}
nav {
  flex-grow: 1.5;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.nav-link > a, a:visited {
  color: white;
  text-decoration: none;
}

.nav-link {
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform .3s;
  font-family: 'Chakra Petch'
}
.nav-link:hover {
  transform: scale(1.5);
}
header > h1 {
  font-size: calc(var(--font-size) + 4.5rem);
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-left: 5%;
  font-family: 'Chakra Petch';
  font-style: italic;
}

header > p {
  font-size: xx-large;
  margin: 0;
  padding-left: 4%;
  font-style: italic;
  position: absolute;
}


/* media queries */

/* tablets portrait */
@media only screen 
      and (min-width: 751px)
      and (max-width: 1050px)
      and (orientation: portrait) {

        .static, .active, .img-card {
          width: calc(var(--img-w) - 200px);
        }
        header > h1 {
          font-size: calc(var(--font-size) + 3rem);
        }
        header > p {
          font-size: calc(var(--font-size) - 0.5rem);
        }

}
/* tablets landscape */
@media only screen 
      and (min-width: 751px)
      and (max-width: 1050px)
      and (orientation: landscape) {

        .static, .active, .img-card {
          width: calc(var(--img-w) - 200px);
        }
        header > h1 {
          font-size: calc(var(--font-size) + 2rem);
        }

}

/* mobile devices portrait */
@media only screen 
      and (min-width: 320px) 
      and (max-width: 750px) 
      and (orientation: portrait) {

        .static, .active, .img-card {
          width: calc(var(--img-w) - 450px);
        }
        header > h1 {
          font-size: calc(var(--font-size) + 0.4rem);
        }
        header > p {
          font-size: calc(var(--font-size) - 1.2rem);
        }
        .card, .project-card {
          width: calc(var(--card-w) - 250px);
          font-size: calc(var(--font-size) - 1.5rem);
          /* border-style: solid; */
        }
        .card-front-style, .card__face--back {
          border-width: 2px;
        }
        .nav-link {
          font-size: calc(var(--font-size) - 1.6rem);
        }
        .arrow {
          width: 2px;
          height: 2px;
        }
        #git-icon {
          font-size: calc(var(--font-size) - 0.5rem);
        }
        .certificate-info {
          width: calc(var(--certificate-w) - 300px);
          height: calc(var(--certificate-h) - 200px);
        }
        .certificate-img > img{
          width: calc(var(--certificate-w) - 300px);
        }
}
/* mobile devices landscape */
@media only screen 
      and (min-width: 320px) 
      and (max-width: 750px) 
      and (orientation: landscape) {

        .static, .active, .img-card {
          width: calc(var(--img-w) - 350px);
        }
        header > h1 {
          font-size: calc(var(--font-size) - 0.5rem);
        }
        header > p {
          font-size: calc(var(--font-size) - 0.8rem);
        }
        .card, .project-card {
          width: calc(var(--card-w) - 400px);
          font-size: calc(var(--font-size) - 1.5rem);
        }
        .card-front-style, .card__face--back {
          border-width: 2px;
        }
        .nav-link {
          font-size: calc(var(--font-size) - 1.8rem);
        }
        .arrow {
          width: 2px;
          height: 2px;
        }
}
